Source: ros-lyrical-mrpt-maps
Section: misc
Priority: optional
Maintainer: "Jose-Luis Blanco-Claraco" <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libeigen3-dev, pybind11-dev, python3-dev, ros-lyrical-mrpt-graphs, ros-lyrical-mrpt-obs, ros-lyrical-ros-workspace
Homepage: https://github.com/MRPT/
Standards-Version: 3.9.2

Package: ros-lyrical-mrpt-maps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-mrpt-graphs, ros-lyrical-mrpt-obs, ros-lyrical-ros-workspace
Description: The MRPT C++ library mrpt_maps
