Source: ros-kilted-mrpt-examples-cpp
Section: misc
Priority: optional
Maintainer: "Jose-Luis Blanco-Claraco" <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libglfw3-dev, ros-kilted-mrpt-common, ros-kilted-mrpt-data, ros-kilted-mrpt-graphslam, ros-kilted-mrpt-gui, ros-kilted-mrpt-imgui, ros-kilted-mrpt-libapps-cli, ros-kilted-mrpt-libapps-gui, ros-kilted-mrpt-nav, ros-kilted-ros-workspace
Homepage: https://github.com/MRPT/
Standards-Version: 3.9.2

Package: ros-kilted-mrpt-examples-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-mrpt-common, ros-kilted-mrpt-data, ros-kilted-mrpt-graphslam, ros-kilted-mrpt-gui, ros-kilted-mrpt-imgui, ros-kilted-mrpt-libapps-cli, ros-kilted-mrpt-libapps-gui, ros-kilted-mrpt-nav, ros-kilted-ros-workspace
Description: C++ examples demonstrating MRPT functionality
